.movie-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:20px;
}

.movie-list a{
    position: relative;
    padding: 10px 10px;
    text-decoration: none;
    color: inherit;
    background-color: #fff;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.11);
}
.movie-item p{
    color: var(--text-color);
}
.checkbox{
    position: absolute;
    right: 7px;
    top: 7px;
    filter: invert(48%) sepia(50%) saturate(500%) hue-rotate(100deg)
}
.assigned-to ul{
    display: flex;
}
.assigned-to{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #eee;
}