.navbar{
    padding: 10px 0;
    margin: 10px ;
    box-sizing: border-box;
    margin-bottom: 100px;
}
.navbar ul{
    max-width: 90%;
    display: flex;
    justify-content: flex-end;
    margin: 20px auto;
    align-items: center;
}
.navbar li{
    margin-right: 15px;
}
.navbar a{
    text-decoration: none;
    color: #333;
    font-size: 1.1em;
}
.navbar .logo{
    margin-right: auto;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;

}
.navbar img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
