.movie-summary-content{
    max-width: 400px;
    background-color: #fff;
    position: relative;
    padding: 10px 20px;
    margin: 25px 15px 10px 30px;
    border-radius: 4px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.11);
}

.movie-summary-content h1{
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.movie-summary-content .delete{
    position: absolute;
    right: 7px;
    top: 7px;
    cursor: pointer;
    filter: invert(48%) sepia(17%) saturate(2000%) hue-rotate(310deg)
}

.movie-summary-content h2{
    margin-bottom: 10px;
}
.movie-summary-content span{
    color: var(--text-color);
}
.movie-summary-content p{
    font-size: 1.1em;
}

.movie-summary .btn{
    margin-left: 30px;
    color: rgba(59, 148, 17, 0.822);
    border-color: rgba(59, 148, 17, 0.822);
}
.movie-summary .btn:hover{
    background-color: rgba(59, 148, 17, 0.822);
    color: #fff;
}


